NUXT_SESSION_PASSWORD=ceoBEWpqdIvJRZCsRmrvObZrDEIuLwef

# Pocket ID OIDC
NUXT_OAUTH_OIDC_CLIENT_ID=6961417f-e797-4059-8766-59c3f372176d
NUXT_OAUTH_OIDC_CLIENT_SECRET=8PvpePXW2svyZ9tKOQv0j0yKOiYvtVLU
NUXT_OAUTH_OIDC_OPENID_CONFIG=https://pocket-id-production-63b0.up.railway.app/.well-known/openid-configuration
NUXT_OAUTH_OIDC_REDIRECT_URL=http://front.localhost/auth/oidc

# Optional: post-logout redirect URL if your provider supports federated logout
NUXT_OIDC_POST_LOGOUT_REDIRECT_URL=http://front.localhost/
